.container {
  width: 100vw;
  height: 80vh;
  border: solid 2px purple;
}
.box {
  height: 50px;
  width: 50px;
  background-color: rgb(243, 218, 186);
  border: solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(45deg); */
  /* transform: rotateX(45deg); */
  /* transform: rotateY(45deg); */
  /* transform: rotatez(45deg); */
  /* transform: rotatez(45deg);  */
  transform: translateY(75%);
}
