* {
  margin: 0;
  padding: 0;
}

main {
  background-color: black;
  padding: 34px;
}
header {
  position: sticky;
  top: 0;
}
nav {
  height: 76px;
  background-color: pink;
}
.container {
  height: 370px;
  padding: 55px 15px;
  background-color: blueviolet;
  display: inline-block;
  width: 100vw;
  text-align: center;
}
.box1 {
  background-color: rgb(217, 238, 82);
  height: 50vh;
  width: 40%;
  display: inline-block;
}
.box2 {
  background-color: rgb(230, 0, 0);
  height: 50vh;
  width: 40%;
  display: inline-block;
}
footer {
  height: 100px;
  background-color: rgb(106, 36, 10);
}
.text {
  margin: 40px 30vw;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 34px;
  color: white;
}
.orangebox {
  height: 32px;
  width: 32px;
  background-color: orange;
  border-radius: 32px;
  position: fixed;
  bottom: 23px;
  right: 23px;
}
