.container {
  background-color: blue;
  height: 80vh;
  width: 80vw;
  position: relative;
}
.box {
  height: 93px;
  width: 93px;
  border: 2px solid;
  border-radius: 48px;
  background-color: red;
  bottom: 0;
  left: 0;
  position: absolute;
  animation: animationX 3s linear infinite , animationY 1s ease-out infinite alternate;
  
}
@keyframes animationX {
  from {
    left:0 ;
  }
  to { 
    left: 100%;
  }
}
@keyframes animationY {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}
