* {
  margin: 0;
  padding: 0;
}
:root {
  --color: blue;
  --seccolor: pink;
  --defpad: 30px;
  --defop: 0.34;
}
.nav {
  /* background-color: rgb(226, 226, 172); */
  background-color: var(--color);
}
ul {
  display: flex;
}
ul li {
  opacity: var(--defop);
  list-style: none;
  padding: var(--defpad);
  border: 2px solid var(--seccolor);
}
li:first-child {
  --color: orange;
  background-color: var(--color);
}
.container {
  /* background-color: rgb(137, 227, 227); */
  background-color: var(--seccolor);
}
